<h3>Estadisticas</h3>
<p>El número de preguntas:<%= statistics.questions %></p>
<p>El número de comentarios totales:<%= statistics.comments %></p>
<p>El número medio de comentarios por pregunta:<%= statistics.avgComments %></p>
<p>El número de preguntas sin comentarios:<%= statistics.questionsWithoutComments %></p>
<p>El número de preguntas con comentarios:<%= statistics.questionsWithComments %></p>
